
<header class="header">
    <div class="container logo-nav-container">
        <a href="#" class="logo">Nombre Clinica</a>
        <nav class="navigation">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['actived']">Home</a>
                </li>
                <li>
                    <a [routerLink]="['/servicios']" [routerLinkActive]="['actived']">Servicios</a>
                </li>
                <li>
                    <a [routerLink]="['/agenda-hora']" [routerLinkActive]="['actived']">Agenda Hora</a>
                </li>
                <li>
                    <!--<a [routerLink]="['/registro']" [routerLinkActive]="['actived']">Registro</a>-->
                </li>
                <li>
                    <!--<a [routerLink]="['/login']" [routerLinkActive]="['actived']">Login</a>-->
                </li>
            </ul>
        </nav>
    </div>
</header>

<section class="content">
    <div class="container">
       <router-outlet></router-outlet>
    </div>
</section>



<footer class="footer">
    <div class="container">
        Desarrollado por Diego Castro &copy;
    </div>
</footer>